div{
  width: 35px;
  height: 47px;
  position: absolute;
  background: white;
  cursor: pointer;
  box-shadow: 1px 1px 20px 1px #888888;
  border-radius: 5px;
  display: inline-block;
}

div:hover{
  color:yellow;
  background-color: yellow;
}