<md-tab-group [ngBusy]="busy">
  <md-tab label="My Games" >
    <md-nav-list>
      <md-list-item *ngFor="let game of myGames"> 
        <a md-line href="#">{{ game.createdBy.name }}</a> 
        {{game.gameTemplate.id}}
      </md-list-item>
    </md-nav-list>
  </md-tab>

  <md-tab label="Browse">
    <md-nav-list>
      <md-list-item *ngFor="let game of games" >
        <a md-line>{{ game.createdBy.name }}</a> 
        <!--<a>{{game.gameTemplate.id}}</a>-->
        <button md-raised-button (click)="joinGame(game._id)">Join</button>
      </md-list-item>
    </md-nav-list>

    <div class="pagination">
      <button md-button (click)="changePage(0)">1</button>
      <button md-button (click)="changePage(1)">2</button>
      <button md-button (click)="changePage(2)">3</button>
      <button md-button (click)="changePage(3)">4</button>
      <button md-button (click)="changePage(4)">5</button>
    </div>
  </md-tab>

  <md-tab label="Watch">
    <md-nav-list>
      <md-list-item *ngFor="let game of watchGames">
        <a md-line href="#">{{ game.createdBy.name }}</a> 
        {{game.gameTemplate.id}}
      </md-list-item>
    </md-nav-list>
  </md-tab>

</md-tab-group>