button.mat-raised-button:hover {
    background: gray;
    opacity: 0.6;
}

button.mat-raised-button:focus {
    background: gray;
    opacity: 1;
}

.gameInfo {
    margin-left: 50px;
    margin-right: 50px;
    border-left: black;
    border-left-style: solid;
    border-left-width: thin;
    padding-left: 20px;
}

.content {
    display:flex;
}

.list{
    width: 100%;
    display: flex;
    flex-direction: column;
}