<div *ngIf="selectedGame" class="gameInfo">
    <h2>{{selectedGame.createdBy.name}}'s Game</h2>
    {{selectedGame.state}}
    <md-nav-list>
        <h3 md-subheader>Players (max {{selectedGame.maxPlayers}})</h3>
        <md-list-item *ngFor="let player of selectedGame.players">
            <a md-line>{{ player.name }}</a>
        </md-list-item>
    </md-nav-list>

    <md-list *ngIf="!(selectedGame | isjoined)">
        <md-list-item>
            <button md-raised-button (click)="joinGame(selectedGame._id)">Join</button>
        </md-list-item>
    </md-list>
</div>