<md-card class="example-card" [ngBusy]="busy">
    <md-card-title>
        <h2>Create Game</h2>
    </md-card-title>

    <md-select placeholder="Select a Template" [(ngModel)]="selectedTemplate" name="templates">
        <md-option *ngFor="let template of templates" [value]="template">
            {{template.id}}
        </md-option>
    </md-select>


    <md-input-container class="example-full-width">
        <input type="number" name="MinPlayers" [(ngModel)]="minPlayers" mdInput placeholder="Min players">
    </md-input-container>

    <md-input-container class="example-full-width">
        <input type="number" name="MaxPlayers" [(ngModel)]="maxPlayers" mdInput placeholder="Max players">
    </md-input-container>



    <button md-button (click)="startGame()" class="create">
        <md-icon>done</md-icon>
    </button>

<game-board [selectedTemplate]="selectedTemplate"> </game-board>
</md-card>
